.button-font {
    font-weight: 600;
    border: none;
    font-size: 22px;
}

.button-font:hover {
    color: red;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab button {
    display: block;
    border: none;
    color: rgb(9, 9, 41);
}
.tab button:hover {
    color: red;
}
.tab button:focus {
    color: red;
}

.accordion:hover,
.active {
    background-color: white;
}
.accordion {
    border: none;
    outline: none;
    transition: background-color 1s ease;
    /* background-color: beige; */
}
.accordion-button {
    background-color: white;
    color: rgb(3, 3, 56);
}

.accordion-button:focus {
    box-shadow: none;
    background-color: white;
}

.accordion-button:not(.collapsed) {
    color: #e2e8ef;
    background-color: rgb(3, 3, 56);
}

.Modal {
    position: fixed;
    bottom: -150vh;
    width: 100%;
    left: 0;
    padding: 0 12px 12px;
    transition: bottom 0.3s ease-out;
}

.faq-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
